.img{
    display: flex;
    justify-content: center;
}
img{
    border-radius: 60%;
    border: 1px solid black;
}

.name{
    text-align: center;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    
        max-width: 800px;
        margin: 0 auto;
        font-family: 'Times New Roman', Times, serif;
        padding: 20px;

    }
    .details{
        border: 1px solid black;
    
    }